.title {
  background-color: black;
  color: whitesmoke;
  margin: 1.5rem;
  font-weight: bold;
  font-size: 3.6rem;
}

.gallery {
  /* margin-left: 5rem; */
  /* margin-right: 5rem; */
  padding: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: navy; */
  /* width: 89%; */
  gap: 20px;
  /* padding-left: 5%; */
  /* padding-right: 5%; */
}

.gallery-item {
  margin: 0;
  padding: 0;
  width: 31%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  position: relative;
  /* background-color: purple; */
  /* margin: 1%; */
}

.gallery-item:hover {
  opacity: 0.6;
}

.gallery-image {
  display: flex;
  justify-content: center;
  position: relative;
  width: auto;
  height: -webkit-fill-available;
  aspect-ratio: 1 / 1;
  background-color: green;
}

.gallery-item-title {
  height: auto;
  display: inline-flex;
  position: relative;
  margin-top: 12px;
  font-style: normal;
  font-weight: bold;
  /* text-transform: uppercase; */
  font-size: 2rem;
  color: whitesmoke;
}
