.proj-title {
  background-color: black;
  color: whitesmoke;
  margin: 1.5rem;
  font-weight: lighter;
  font-size: 3.6rem;
  justify-items: center;
  text-align: center;
}

.desc {
  color: whitesmoke;
  margin-top: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 5rem;
  font-weight: normal;
  font-size: 1rem;
}

.proj-header {
  width: 100%;
  height: 50vh;
}

.proj-header img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.proj-singletag {
  color: white;
  /* height: 30px; */
}

.proj-imgs {
  display: grid;
  width: 100%;
  gap: 10px;
}

.proj-singleimg {
  aspect-ratio: 1 / 1;
}

.proj-singleimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proj-vid {
  width: 70vw;
}

.proj-vid iframe {
  width: 100%;
  height: 100%;
}

#gallery-lightbox {
  background: orange;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
}

#gallery-lightbox.active {
  display: block;
  opacity: 1;
}

#gallery-left {
  position: absolute;
  top: 50%;
  left: 10px;
}
#gallery-right {
  position: absolute;
  top: 50%;
  right: 10px;
}
#gallery-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
#gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
