@font-face {
  font-family: "Archivo", sans-serif;
  src: url("/fonts/Archivo-Regular.ttf");
}

@font-face {
  font-family: "Author", sans-serif;
  font-weight: 900;
  src: url("/fonts/Author-Bold.otf");
}

@font-face {
  font-family: "Author", serif;
  font-weight: normal;
  src: url("/fonts/Author-Regular.otf");
}

@font-face {
  font-family: "Author Variable", serif;
  /* font-weight: normal; */
  src: url("/fonts/Author-Variable.ttf");
}

.proj-title {
  background-color: black;
  color: whitesmoke;
  margin: 1.5rem;
  /* font-weight: lighter; */
  font-family: "Author Variable";
  font-weight: 900;
  font-size: 4rem;
  justify-items: center;
  text-align: center;
}

.proj-header {
  width: 100%;
  height: 50vh;
}

.proj-header img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.proj-tags {
  display: flex;
  /* background-color: brown; */
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 2rem;
  gap: 10px;
}

.proj-singletag {
  color: white;
  border: inset 1.5px white;
  border-style: solid;
  width: fit-content;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 40px;
  /* height: 30px; */
}

.proj-singletag:hover {
  /* background-color: rgb(60, 60, 60); */
  background-color: white;
  color: black;
}

.proj-year {
  color: white;
  /* background-color: teal; */
  margin-left: 24rem;
  margin-right: 24rem;
}

.proj-genre {
  color: white;
  /* background-color: blue; */
  margin-left: 24rem;
  margin-right: 24rem;
}

.proj-length {
  color: white;
  /* background-color: purple; */
  margin-left: 24rem;
  margin-right: 24rem;
}

.desc {
  color: whitesmoke;
  margin-top: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4rem;
  /* font-family: "Author"; */
}

.proj-imgs {
  display: grid;
  width: 89%;
  gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.proj-singleimg {
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.proj-singleimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proj-vid {
  position: relative;
  width: 70vw;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 5%;
}

.proj-vid iframe {
  width: 100%;
  height: 100%;
}

#gallery-lightbox {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
}

#gallery-lightbox.active {
  display: block;
  opacity: 1;
}

#gallery-left {
  /* background: cadetblue; */
  height: 80%;
  width: 5vw;
  position: absolute;
  top: 20%;
  left: 20px;
  cursor: pointer;
}

#gallery-left span {
  /* background: cyan; */
  position: relative;
  top: 40%;
  color: white;
}

#gallery-right {
  /* background: palevioletred; */
  height: 80%;
  width: 5vw;
  position: absolute;
  top: 20%;
  right: 20px;
  cursor: pointer;
}

#gallery-right span {
  /* background: pink; */
  position: relative;
  top: 40%;
  float: right;
  color: white;
}

#gallery-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
}
#gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
}

@media screen and (max-width: 1200px) {
  .proj-title {
    font-size: 3rem;
  }
  .proj-tags {
    margin-left: 5rem;
  }

  .proj-year {
    margin-left: 8rem;
  }

  .proj-genre {
    margin-left: 8rem;
  }

  .proj-length {
    margin-left: 8rem;
  }

  .desc {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 700px) {
  .proj-title {
    font-size: 2.5rem;
  }
  .proj-tags {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .proj-year {
    margin-left: 3.5rem;
    margin-right: 1.5rem;
  }

  .proj-genre {
    margin-left: 3.5rem;
    margin-right: 1.5rem;
  }

  .proj-length {
    margin-left: 3.5rem;
    margin-right: 1.5rem;
  }

  .desc {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
  }

  .proj-imgs {
    gap: 10px;
  }

  .proj-singleimg {
    width: 98%;
  }

  #gallery-right {
    right: 10px;
    top: 17%;
  }

  #gallery-left {
    left: 10px;
    top: 17%;
  }
}
