@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo-Regular.ttf");
}

@font-face {
  font-family: "Author";
  src: url("/fonts/Author-Regular.otf");
}

@font-face {
  font-family: "Newsreader 9pt";
  src: url("/fonts/Newsreader_9pt-Regular.ttf");
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("/fonts/Satoshi-Variable.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  src: url("/fonts/FiraSans-Regular.otf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 300;
  src: url("/fonts/FiraSans-Light.otf");
}

html,
body {
  width: 100%;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  background-color: black;
}

* {
  margin: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
  width: inherit;
}

a {
  /* font-family: "Archivo"; */
  font-family: "Satoshi Variable";
  /* font-family: "Fira Sans"; */
  font-style: none;
  color: inherit;
  text-decoration: none;
  display: inherit;
}

p {
  /* font-family: "Archivo"; */
  font-family: "Satoshi Variable";
  /* font-family: "Fira Sans"; */
  /* font-family: "Newsreader 9pt"; */
  color: whitesmoke;
  white-space: pre-line;
  /* added with \n in json */
}

.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  /* background: blue; */
  display: flex;
  flex-direction: column;
}

.body-wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  overflow-y: scroll;
}

.header-wrapper {
  z-index: 50;
  position: sticky;
  display: flow-root;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
}

.header {
  /* margin-bottom: 4rem; */
  margin: 1.5rem;
  /* font-family: "Archivo"; */
  font-family: "Satoshi Variable";
  /* font-family: "Fira Sans"; */
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav {
  display: flex;
}

#nav-left {
  text-transform: uppercase;
}

#nav-left > div {
  margin-right: 1rem;
}

#nav-right {
  text-transform: capitalize;
}

#nav-right > div {
  margin-left: 1rem;
}

.nav p:hover {
  color: grey;
}
/* --------------------------------SCROLLBAR STYLING--------------------------------- */

::-webkit-scrollbar {
  /* ---NOTE: for the rest of the scrollbar formatting to work, there has to be at least one attribute here under general scrollbar. */
  background-color: rgb(0, 0, 0);
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 0px;
}
